<!doctype html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
  <script src="demo.js"></script>
  <style>
    li{
      list-style:none;
    }
    .complete{
      text-decoration: line-through;
      color:gray;
    }
  </style>
</head>

<body ng-app="todoApp">
  <div class="wrapper" ng-controller="todoCtrl">
    <h1>My Todos:</h1>
    <h3>Need Todos:</h3>
    <ul>
      <!--creating a for loop, for each todo in the todos array, repeat the li-->
      <li ng-repeat="todo in $storage.todos | filter: {done: false}">
        <label>
          <input type="checkbox" ng-model="todo.done">
          <!--logic to check if todo.done is true, if true the class .complete is applied-->
          <span class="{{todo.done ? 'complete' : ''}}">
            {{todo.text}}
          </span>
          <!--hide element if todo.done is true-->
          <span ng-hide="todo.done">
            {{todo.text}}
          </span>
        </label>
      </li>
    </ul>
    <h3>Todones:</h3>
    <ul>
      <!--creating a for loop, for each todo in the todos array, repeat the li-->
      <!--<li ng-repeat="todo in todos | filter: {done: true}">-->
      <!--can't get this to work-->
      <li ng-repeat="todo in getCompleteTodos()">
        <label>
          <input type="checkbox" ng-model="todo.done">
          <!--logic to check if todo.done is true, if true the class .complete is applied-->
          <span class="{{todo.done ? 'complete' : ''}}">
            {{todo.text}}
          </span>
          <!--hide element if todo.done is true-->
          <span ng-hide="todo.done">
            {{todo.text}}
          </span>
        </label>
      </li>
    </ul>
    <button ng-click="clearCompleted()">Clear completed</button>
    <hr>
    <form>
      <label>New Todo: <input type="text" ng-model="newTodo"></label>
      <button ng-click="addTodo()">Add</button>
    </form>
    <br>
    <br>
    <br>
    <hr>
    <h1>JSON example</h1>
    <table>
      <tr>
        <th>Country</th>
        <th>Population</th>
      </tr>
      <tr ng-repeat="country in countries">
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
      </tr>
    </table>

    <br>
    <br>
    <br>
    <hr>
    <h1>JSON example with Flags</h1>
    <table>
      <tr>
        <th>Country</th>
        <th>Population</th>
        <th>Flag</th>
      </tr>
      <tr ng-repeat="country in countries">
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
        <td><img src="{{country.flagURL}}" width="100"></td>
      </tr>
    </table>


    <br>
    <br>
    <br>
    <br>
    <hr>
    <!--simple demo-->
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>
    <!--javascript toUpperCase() function-->
    <h1>HELLO {{yourName.toUpperCase()}}!</h1>
    <!--javascript length function-->
    <h1>Your name is {{yourName.length}} characters long!</h1>
    <!--angularjs filter-->
    <h1>Hello {{yourName | uppercase}}!</h1>
  </div>
</body>

</html>