<md-content>
    <md-card flex="40">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">File Selection</span>
                <span class="md-subhead">Select a week from the dropdown below, and then select the file(s) you wish to download</span>
            </md-card-title-text>
        </md-card-title>

        <!-- user selections/input -->
        <md-card-content>
            <div layout="row">
                <md-input-container>
                    <label>Select week</label>
                    <md-select ng-model="selectedWeek">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="week in weeks" ng-value="week" ng-model="selectedWeek">
                            {{week.week}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex="20" flex-offset="5">
                    <label>Search files...</label>
                    <input ng-model="search">
                </md-input-container>
            </div>
        </md-card-content>

        <!-- file list -->
        <md-list ng-if="selectedWeek">
            <md-subheader class="md-no-sticky">Weekly File List</md-subheader>
            <md-list-item ng-repeat="file in selectedWeek.pdfFiles | filter: search" ng-class-odd="'odd'">
                <md-checkbox class="blue" checklist-value="file" checklist-model="selected.files"></md-checkbox>
                <p>{{file.fileName}} : {{file.description}}</p>
            </md-list-item>
        </md-list>

        <!-- checkAll and uncheckAll buttons-->
        <md-card-actions layout="row">
            <md-button ng-if="selectedWeek.pdfFiles" ng-click="checkAll()" class="md-primary">Check all</md-button>
            <md-button ng-if="selectedWeek.pdfFiles" ng-click="uncheckAll()" class="md-primary">Uncheck all</md-button>

            <!-- download button -->
            <md-button ng-if="selected.files.length" ng-click="download()" class="md-primary">Download File(s)</md-button>
        </md-card-actions>

    </md-card>
</md-content>







<!--

<select ng-model="selectedWeek" ng-options="week.week for week in weeks" ng-change="uncheckAll()"></select>
<input type="text" ng-model="search">
<!-- test code to see what the path will be to return filenames -->
<!--<h1>You selected: {{selectedWeek.pdfFiles[0].fileName}}</h1>-->
<!--
<ul>fileName : description
    <li ng-repeat="file in selectedWeek.pdfFiles | filter: search">
        <label>
            <input type="checkbox" checklist-value="file" checklist-model="selected.files">
            {{file.fileName}} : {{file.description}}
        </label>
    </li>
</ul>

<br>
<button ng-click="checkAll()">Check all</button>
<button ng-click="uncheckAll()">Uncheck all</button>
<br>
<button ng-if="selected.files.length" ng-click="download()">Download File(s)</button>
<p>files: {{selectedWeek.pdfFiles}}</p>
<p>selected files: {{selected.files}}</p>
<ul>
    <li ng-repeat="x in selected.files">
        <a href="http://127.0.0.1:5500/pdfFiles/{{x.fileName}}.pdf">{{x.fileName}}</a>
    </li>
</ul>
-->