.foodMenu{
    padding-left:120px !important;
    width:635px;
}

.foodMenu div table tbody tr td{
    text-align:right;
    padding-left:15px;
}
.foodMenu div table tbody tr td:first-child{
    text-align:left;
}