<!doctype html>
<html ng-app='todoApp'>

<head>
    <title>Git-R-Done</title>

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="img/favicon.ico" /> -->

    <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

    <!-- Site JS -->
    <script src="js/site.js"></script>

</head>

<body ng-controller='todoCtrl'>
    <div ng-controller='todoCtrl'>
        <h3>My Todos:</h3>
        <p>Need to do {{getIncompleteTodos().length}} todos:</p>
        <ul>
            <li ng-repeat='todo in getIncompleteTodos()'>
                <input type='checkbox' ng-model='todo.done'>
                {{todo.text}}
            </li>
        </ul>
        <p>Completed {{getCompleteTodos().length}} todos:</p>
        <ul>
            <li ng-repeat='todo in getCompleteTodos()'>
                <input type='checkbox' ng-model='todo.done'>
                {{todo.text}}
            </li>
        </ul>
    </div>
</body>

</html>