<div class="row">
    <div class="col-lg-3">
        <h1 class="my-4">Products</h1>
        <div class="list-group">
            <a href="" class="list-group-item" ng-click="changeCategory(1)">Category 1</a>
            <a href="" class="list-group-item" ng-click="changeCategory(2)">Category 2</a>
            <a href="" class="list-group-item" ng-click="changeCategory(3)">Category 3</a>
        </div>
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

        <!-- UIB Carousel -->
        <div style="height: 350px" class="my-4">
            <div uib-carousel active="0" interval="3000" template-url="vendor/ui-bootstrap/template/carousel/carousel.html">
                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id"> <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide Title</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Listing -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4" ng-repeat="item in products | filter:{cat:productCategory}">
                <div class="card h-100">
                    <a href="#!product/{{item.id}}"><img class="card-img-top" src="http://unsplash.it/700/400?random&{{item.id}}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title"> <a href="#!product/{{item.id}}">{{item.name}}</a> </h4>
                        <h5>{{item.price}}</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                    </div>
                    <div class="card-footer"> <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->