<!doctype html>
<html>

<head>
	<title>PDF File Download</title>

	<!--angularJS links-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>

	<!--angularJS material links-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

	<!--my JS file-->
	<script src="js/lowesDemo.js"></script>
	<script src="js/checklistModel.js"></script>
	<script src="js/jszip.js"></script>
	<script src="js/fileSaver.js"></script>
	<script>
		function pack() {
			var zip = new JSZip();
			zip.file("readme.txt", "This zip file was created using JSZip.");
			var docs = zip.folder("documents");
			docs.file("hello.txt", "hello world!");
			docs.file("goodmorning.txt", "good morning everyone!");
			zip.generateAsync({ type: "blob" })
				.then(function (content) {
					// see FileSaver.js
					saveAs(content, "example.zip");
				});
		}
	</script>

	<!--angularJS material css link-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
	<style>
		li {
			list-style: none;
		}
	</style>
</head>

<body ng-app="lowesApp">
	<div class="wrapper" ng-controller="pdfFileCtrl">
		<select ng-model="selectedWeek" ng-options="week.week for week in weeks" ng-change="uncheckAll()"></select>
		<input type="text" ng-model="search">
		<!-- test code to see what the path will be to return filenames -->
		<!--<h1>You selected: {{selectedWeek.pdfFiles[0].fileName}}</h1>-->
		<ul>fileName : description
			<li ng-repeat="file in selectedWeek.pdfFiles | filter: search">
				<label>
					<input type="checkbox" checklist-value="file" checklist-model="selected.files">
					{{file.fileName}} : {{file.description}}
				</label>
			</li>
		</ul>
		<p>files: {{selectedWeek.pdfFiles}}</p>
		<p>selected files: {{selected.files}}</p>
		<ul>
			<li ng-repeat="x in selected.files">
				<a href="http://127.0.0.1:5500/pdfFiles/{{x.fileName}}.pdf">{{x.fileName}}</a>
			</li>
		</ul>
		<button ng-click="checkAll()">Check all</button>
		<button ng-click="uncheckAll()">Uncheck all</button>
		<br>
		<button ng-click="download()">Download File(s)</button>
		<br>
		<input type="button" value="press here" onclick="pack()" />
	</div>
</body>

</html>