<md-checkbox ng-model="cb1" ng-init="cb1=false" aria-label="Checkbox 1" class="grid1" ng-click="toggleBoxes()"></md-checkbox>
<md-checkbox ng-model="cb2" ng-init="cb2=false" aria-label="Checkbox 2" class="grid2" ng-click="toggleBoxes()"></md-checkbox>
<md-checkbox ng-model="cb3" ng-init="cb3=false" aria-label="Checkbox 3" class="grid3" ng-click="toggleBoxes()"></md-checkbox>
<md-checkbox ng-model="cb4" ng-init="cb4=false" aria-label="Checkbox 4" class="grid4" ng-click="toggleBoxes()"></md-checkbox>